@page
@model loveladies.Pages.Mentorias.MinhasMentoriasModel
@{
}

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Tema</th>
            <th scope="col">Nome da Mentora</th>
        </tr>
    </thead>

    @foreach (var mentoria in @Model.Mentorias)
    {
        <tbody>
            <tr class="table-default">
                <th scope="row">@(mentoria.Titulo)</th>
                <td>@(mentoria.Nome)</td>
                <td><form asp-page="MinhasMentorias" asp-page-handler="Delete" ><input type="hidden" value="@(mentoria.Id)" name="Id"/><button type="submit">Delete</button></form></td>
            </tr>
        </tbody>
    }
</table>
