@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1 class="display-3">Loveladies</h1>
    <p class="lead">Encontre uma mentora que te ajudará a avançar nos seus estudos e projeto.</p>
    <p>Veja as mentorias abaixo e entre em contato com a mentora escolhida.</p>
    <hr class="my-4">
    <p>Você tem tempo livre e vontade de ajudar mulheres no seu desenvolvimento profissional?</p>
    <p class="lead">
        <a class="btn btn-lg btn-info" href="/Identity/Account/Register" role="button">Seja uma mentora</a>
    </p>
</div>

<h3 style="text-align:center"><strong>Confira as mentorias disponíveis</strong></h3>

<hr />
<div class="row row-cols-1 row-cols-md-3">
        @foreach (var categoria in @Model.Categorias)
        {
            <div class="col">
                <div class="card border-info mb-3" style="max-width: 20rem;">
                    <div class="card-header"><h4><strong><a href="/mentorias?categoria=@(categoria.Id)" style="text-decoration:none; color:black">@(categoria.Nome)</a></strong></h4></div>
                    <div class="card-body">
                        <p class="card-text">@(categoria.Descricao)</p>
                    </div>
                </div>
            </div>
        }
</div>



