@page
@model IndexModel;
@{
    ViewData["Title"] = "Mentorias Disponíveis";
}

<h2>@ViewData["Title"]</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Tema</th>
            <th scope="col">Nome da Mentora</th>
            <th scope="col">Detalhes</th>
        </tr>
    </thead>

    @foreach (var mentora in @Model.Mentoras)
    {
        <tbody>
            <tr class="table-default">
                <th scope="row">@(mentora.Titulo)</th>
                <td>@(mentora.Nome)</td>
                <td><a href="/mentoras/details/@(mentora.Id)">Detalhes</a></td>
            </tr>
        </tbody>
    }
</table>